{% extends "base.html" %}
{% block title %}User Login{% endblock title %}
{% block content %}
{% if messages.error %}
    {% for message in messages %}
        <h5 class = 'text-center text-danger'>{{message}}</h5>
    {% endfor %}
{% endif %}
<h1 class = 'text-center text-success'>Log In</h1>
  <form method = "POST" class = 'm-auto w-50'>

    {% load crispy_forms_tags %}
    {% csrf_token %}

    {{form | crispy}}
    <button class = 'btn btn-success text-white p-3 m-auto' type="submit">Login</button>
    
  </form>
{% endblock content %}