{% extends "base.html" %}
{% block title %}Registration Page{% endblock title %}
{% block content %}
  
<style>

    .form-field{
        background-color:CadetBlue ;
        color: #00FFFF;
        padding: 15px;
        font-size: 25px;
        text-align:center;
    }
</style>

    <h3 class = 'text-center text-light bg-black ms-4 me-4'><span class = 'bg-success m-auto ps-5 pe-5'>{{type}}</span></h3>
    {% load static %}
    <div class = 'bg-dark p-2 m-4'>
        <form method = "POST" enctype = 'multipart/form-data' class = 'w-50 m-auto fs-3 text-light'>
        
            {% load crispy_forms_tags %}
            {% csrf_token %}
            {{form | crispy}}
    
        <div class = 'm-auto d-flex justify-content-center'>
         <button class = 'btn btn-success text-white text-center p-3 fs-3 ' type="submit">Sign Up</button>

        </div>    
        </form>
    </div> 


    
{% endblock content %}

