{% extends "base.html" %}
{% block title %}
  Register Page
{% endblock title %}


{% block content %}


<style>
  .register {
      background-image: url("https://i.ibb.co/HVRLVcD/login-page-background.png");
      background-size: cover;
      background-position: center;
      height:auto;
  }


  .reg-card{
    width: 800px;
    height: 750px;
    background-color: #F0FFFF;
    margin-top: 100px;
    border-radius:20px;
  }

  @media only screen and (max-width: 850px) {
    .reg-card{
        width: 400px;
        height: 1250px;
        background-color: #F0FFFF;
        margin-top: 100px;
        border-radius:20px;
        
      }
    }
    
    .reg-card input[type="text"],
    .reg-card input[type="email"],
    .reg-card input[type="password"] {
        color: LightSkyBlue;
    }

  .form-field{
    background-color:gray;
    color:green;
    padding:10px;
    margin:5px;
    width:300px;
  }
</style>




    <div class='register'>
        <div class='d-flex justify-content-center'>

          <div class='reg-card'>
            <h3 class='text-center mt-3' style='color:DarkKhaki;'><i>Registration</i></h3>

            {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                      <p class = 'text-danger text-center'>{{error}}</p>
                  {% endfor %}
             {% endif %}
                  

          {% if form.hidden_fields %}
              {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
              {% endfor %}

          {% endif %}


            <form class='m-auto' method="POST" enctype = 'multipart/form-data'  style='width:80%;'>
              {% csrf_token %}

          
                        
{% comment %} 
                {% if form.hidden_fields %}
                    {% for hidden_field in form.hidden_fields %}
                          {{ hidden_field }}
                    {% endfor %}

                {% endif %} {% endcomment %}

                <div class='d-flex flex-wrap justify-content-center text-center fs-4 row gap-3'>
                    <div class='col-sm-12 col-lg-5 ' style = 'background-color:#F0FFFF'>
                        <label for="{{ form.username.id_for_label }}" style='text-align:center;'>Username</label>
                        {{ form.username }}
                    </div>



                    <div class='col-sm-12 col-lg-5' style = 'background-color:#F0FFFF'>
                        <label for="{{ form.first_name.id_for_label }}" style='text-align:center;'>First Name</label>
                        {{ form.first_name }}
                    </div>

                    <div class='col-sm-12 col-lg-5'  style = 'background-color:#F0FFFF'>
                        <label for="{{ form.last_name.id_for_label }}" style='text-align:center;'>Last Name</label>
                        {{ form.last_name }}
                    </div>
                    <div class='col-sm-12 col-lg-5'  style = 'background-color:#F0FFFF'>
                        <label for="{{ form.email.id_for_label }}" style='text-align:center;'>Email</label>
                        {{ form.email }}
                    </div>

                    <div class='col-sm-12 col-lg-5'  style = 'background-color:#F0FFFF'>
                        <label for="{{ form.nid.id_for_label }}" style='text-align:center;'>NID</label>
                        {{ form.nid }}
                    </div>
                    <div class='col-sm-12 col-lg-5'  style = 'background-color:#F0FFFF'>
                        <label for="{{ form.password.id_for_label }}" style='text-align:center;'>Password</label>
                        {{ form.password }}
                    </div>
                    <div class='col-sm-12 col-lg-5'  style = 'background-color:#F0FFFF'>
                        <label for="{{ form.conform_password.id_for_label }}" style='text-align:center;'>Conform Password</label>
                        {{ form.conform_password }}
                    </div>
                    <div class='col-sm-12 col-lg-5'  style = 'background-color:#F0FFFF'>
                      <label for="{{ form.profile_pic.id_for_label }}" style='text-align:center;'>Profile Picture</label>
                        {{ form.profile_pic }}
                    </div>

                    {% comment %} {% if {{form.profile_pic.errors}} %}
                        {% for error in form.profile_pic.errors %}
                            <p class = 'text-danger text-center'>{{error}}</p>
                        {% endfor %}
                    {% endif %} {% endcomment %}

                    <div class='col-sm-12 col-lg-5'  style = 'background-color:#F0FFFF'>
                        {{ form.captcha}}
                    </div>
                </div>

        
       
              <button class='btn btn-success w-100 mt-3' type="submit">Register</button>

              
              
              
            </form>
            
            <small class = 'p-3'>Already have an account? <a class='text-decoration-none text-success fs-4' href="{% url "login" %}">Login</a></small> 

          
          
        </div>
        </div>
        <div style = 'height:30px;'></div> 
    </div>



 

    {% comment %} <form method = "POST" class = 'w-50 m-auto' enctype="multipart/form-data">
      {% csrf_token %}
      {% load crispy_forms_tags %}

      {{form | crispy}}

      <button class = 'btn btn-success text-light' type="submit">register</button>
    </form> {% endcomment %}

{% endblock content %}
