
    
<!DOCTYPE html>
<html lang="en">

<body style = 'background-color: DarkGray;'>
    <div style = 'background-color: gray; padding: 60px;'>
        <h3 style = 'text-align:center; color:white;'>Thanks for creating an account in Public Health as a Doctor.</h3>
        <h4 style = 'text-align:center; color:DarkSlateGray'>Now we need to verify you.</h4>
        <p style = "color: white; text-align:center;">To active your account click this link: <a style = 'color: LightYellow; text-decoration:none;' href = {{conform_link}}>Conformation Link</a></p>
        <h4 style = 'color:Tomato; text-align:center'><a style = "text-decoration:none; color: white;" href = 'https://spread-knowledge.onrender.com/' target = "_blank">Public Health</h5>
    </div>
</body>
</html>

    