{% extends "base.html" %}

{% block content %}

    
<div class = 'd-flex row align-items-center p-3' style = 'background-color: DarkTurquoise;'>
    <div class = 'col-sm-12 col-md-6 col-lg-6 col-xl-6'>
        <img class = 'w-100' src="{{vaccine.image.url}}" alt="">
    </div>
    <div class = 'col-sm-12 col-md-6 col-lg-6 col-xl-6' >
        <div class="card p-3" style = 'background-color:DarkGrey;'>
          
          <div class = 'd-flex row'>
              <h6 class = 'col-6' style = 'text-align:left;'>Health Is</h6>
              <h6 class = 'col-6' style = 'text-align: right;'>Welath</h6>
          </div>
            <div class="card-body">
              <h2 class="card-title text-center">{{vaccine.name}}</h2>
              <p class="card-text"> {{vaccine.description}}</p>
                <h6 class = 'text-center'>Total Dose: {{vaccine.total_dose}}</h6>
                <h5 class = 'text-center'>Vaccine Schedules</h5>

                <div class = 'd-flex wrap justify-content-center' style = 'gap:-30px;'>
                {% for shcedule in schedules %}    


                        <!-- Details part-->
                        {% if hasAdded %} 

                            <button
                            type="button"
                            class="btn btn-info text-light"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModalCenter"
                            >
                            {{shcedule.date}}
                            </button>

                            <!-- Modal -->
                            <div
                            class="modal fade"
                            id="exampleModalCenter"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="exampleModalCenterTitle"
                            aria-hidden="true"
                            >
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-success text-white text-center">
                                  <h3
                                    class="modal-title text-center"
                                    id="exampleModalLongTitle"
                                  >
                                  {{shcedule.date}}
                                  </h3>
                                  <button
                                    type="button"
                                    class="close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  >
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <a
                                    class="btn btn-warning text-light"
                                    href="{% url "editSchedule" shcedule.id %}"
                                    >Edit Schedule</a
                                  >
                                  <a
                                    class="btn btn-danger text-white ms-3"
                                    href="{% url "deleteSchedule" shcedule.id %}"
                                    >Delete Schedule</a
                                  >
                                </div>
                                <div class="modal-footer">
                                  <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                  >
                                    Close
                                  </button>
                                </div>
                              </div>
                            </div>
                            </div>
                    {% else %}

                    <div class = 'btn btn-info  m-auto disabled' >{{shcedule.date}}</div>

                    {% endif %} 
                        <!-- Details part End-->

                  {% endfor %}
                  
                </div>
              </div>                      

                <h5 class = 'text-center'>Price : <big class = 'text-success'>{{vaccine.price}}$</big> </h5>
                <div class = 'm-auto'>
                    {% if request.user.is_authenticated %}<a href = "{% url "bookDose" %}" class = 'btn btn-success text-center text-white'>Book Now</a>{% endif %}
                </div>
            </div>

            

            <div class = 'mt-3'></div> <!-- This for size  -->
          </div>
 
    </div>
</div>



<!-- All User reviews sections-->



<div class = 'patient-taken-vaccine-part d-flex row wrap gap-3 p-5 justify-content-center' style = 'background-color: Snow;'>

    <h3 style = 'color: orange;' class = ' col-12 text-center'>Client Reviews</h3>
      
       

  
  
    {% for review in reviews %}
    
    <div class="card justify-content-center d-flex row p-3 m-3 justify-content-center" style = 'background-color: SlateGrey; width: 330px;'>
        <img class="card-img-top col-12 m-auto" style = 'width: 250px; height: 250px; border-radius: 125px;' src="{{review.reviewer.account.profile_pic.url}}" alt="Card image cap">
        <div class="card-body col-12 row d-flex">
          <h4 class="card-title text-center col-12">{{review.reviewer.account.user.first_name}} {{review.reviewer.account.user.last_name}}</h4>
          <h5 class = 'text-center col-12'>{{review.star}}</h5>
          
          <i class = 'block text-center col-12'>{{review.review}}</i>


        </div>
      </div>

    {% endfor %}

    

</div>



<!-- Review Section-->



{% if recipient and canGiveReview %}
<div class = 'bg-dark p-3'>
       
  <span><h3 class = 'bg-dark text-light text-center' style = 'margin-left:30%; margin-right:30%;'>Add Your Review</h3></span>
  
  <form method = "POST" class = 'm-auto w-50 text-center fs-5 text-white'>
      {% csrf_token %}
      {% load crispy_forms_tags %} 

      {{form | crispy}}

          <p class = 'text-center'><button class = 'btn btn-success text-light' type="submit">Add Review</button></p>
  </form>
</div>


{% endif %}

{% endblock content %}