{% extends "base.html" %}

{% block content %}

<style>
    .about-section{
        background-image:url("https://i.ibb.co/GWnsN1g/vaccination-mangement.jpg");
        position:relative;
        background-position: center;
        
        background-size:cover;
        height:400px;
        
        
    }

    .main-section{
        background-image:url("https://i.ibb.co/GWnsN1g/vaccination-mangement.jpg");
        
        position:relative;
        background-position: center;
        
        background-size:cover;
        
        
    }
    .background-image-section{
        
        background-image:url("https://i.ibb.co/pfF3zGr/pexels-cottonbro-studio-7578808.jpg");
        position:relative;
        background-position: center;
        
        height:600px;
        
        
    }
    .contact-part{
        
        background-image:url("https://i.ibb.co/jvfm5jW/pexels-anna-shvets-4225881.jpg");
        position:relative;
        background-position: center;
        background-size:cover;
        height:70vh;

        
    }


    .form-container {
      max-width: 500px;
      margin: auto;
    }
    
</style>


<div class = 'about-section'>
    <h1 style = 'padding-top:220px;' class = 'text-center text-info'>Public Health</h1>
    <h1 class = ' text-center' ><b style = 'color:DarkCyan;  font-weight: bold;'>About Us</b></h1>
</div>
<h2 class = 'text-center pt-2 text-success'>World Leader in Health Care Services</h2>
<div class = 'd-flex wrap row p-5' style = 'justify-content:center;'>
    <div class = 'col-md-4 col-sm-12 col-lg-4 col-xlg-4 text-center'><h5> <h3 class = 'text-success'>357</h3>Patients Per Day</h5></div>
    <div class = 'col-md-4 col-sm-12 col-lg-4 col-xlg-4 text-center'><h5><h3 class = 'text-success'>82</h3> Medical Specialities</h5></div>
    <div class = 'col-md-4 col-sm-12 col-lg-4 col-xlg-4 text-center'><h5> <h3 class = 'text-success'>100</h3>Satisfied Claients</h6></div>
</div>


<!-- Boostrap cards container starts form here-->
<div class = 'bootstrap-cards-container d-flex wrap row p-2 gap-3 justify-content-center'>
    <div class="card col-sm-12 col-md-5 col-lg-3">
        
        <div class="card-body">
          <div class = 'd-flex row'>
            <div class = 'col-4'>
              <h1><i class="fa-solid fa-flask-vial"></i></h1>
            </div>
            <h5 class="card-title col-8">Clinical Biochemistry</h5>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
        </div>
      </div>
    <div class="card col-sm-12 col-md-5 col-lg-3">
        
        <div class="card-body">
          <div class = 'd-flex row'>
            <div class = 'col-4'>
              <h1><i class="fa-solid fa-virus"></i></h1>
            </div>
            <h5 class="card-title col-8">Coronavirus care product mix</h5>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
        </div>
      </div>
    <div class="card col-sm-12 col-md-5 col-lg-3">
        
        <div class="card-body">
          <div class = 'd-flex row'>
            <h1 class = 'col-4'><i class="fa-solid fa-truck-medical"></i></h1>
            <h5 class="card-title col-8">Regorus testing in clinical trials</h5>
  
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
        </div>
      </div>
    <div class="card col-sm-12 col-md-5 col-lg-3 p-2">
        
        <div class="card-body">
          <div class = 'd-flex row'>
            <h1 class = 'col-4'><i class="fa-solid fa-shield-virus"></i></h1>
            <h5 class="card-title col-8">Antibody Test</h5>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
        </div>
      </div>

        <div class="card col-sm-12 col-md-5 col-lg-3 p-2">
        <div class="card-body">
          <div class = 'd-flex row'>
            <h1 class = 'd-flex col-4'><i class="fa-solid fa-vials"></i></h1>
            <h5 class="card-title col-8">RT-PCR and Combination Tests</h5>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
        </div>
      </div>


      <div class="card col-sm-12 col-md-5 col-lg-3 p-2">
        <div class="card-body">
          <div class = 'd-flex row'>
            <h1 class = 'col-4'><i class="fa-solid fa-truck-medical"></i></h1>
            <h5 class="card-title col-8">Regorus testing in clinical trials</h5>

          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
        </div>
      </div>

   
</div>


<div class  = 'd-flex gap-4 row wrap main-part-of-about bg-info'>
    <div class = 'col-sm-11 col-md-5 col-lg-5 col-xlg-5 background-image-section d-flex row align-content-center justify-content-center'>
        <div class = 'col-6'></div>
        <div class="card col-6 bg-dark" style = 'height:400px;'>
        
            <div class="card-body">
              <h1 class="card-title text-success">Our Services</h1>
              <li class = 'text-light list-unstyled'>Vaccination</li>
              <li class = 'text-light list-unstyled'>Surgery</li>
              <li class = 'text-light list-unstyled'>Neral Surgery</li>
              <li class = 'text-light list-unstyled'>Cardiology</li>
              <li class = 'text-light list-unstyled'>Family Doctor</li>
            </div>
          </div>
    </div>
    <div class = 'col-sm-11 col-md-5 col-lg-5 col-xlg-5 p-5'>
            <h1 class = 'text-center'>What we Do</h1>
            <br> <br>
            <big>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis laborum impedit repudiandae, expedita fugiat natus qui ad sapiente. Necessitatibus, fugiat harum? Corporis at a facilis, reiciendis explicabo saepe suscipit.</big>
      <br><br>
            <div class = 'd-flex row'>
              <div class = 'col-3 font-awesome-icon'>
                <h1 style = 'width:60px; height:60px; border-radius: 50%'><i class="fa-solid fa-user-doctor"></i></h1>
              </div>
              <div class = 'col-9'>
                <h5>Get a doctor's consultation if You have any question</h5>
                <p>Face-to-face or Online you can get a consultation at any testing stage</p>
    
              </div>
            </div>

            <div class = 'd-flex row'>
              <div class = 'col-3 font-awesome-icon'>
                <h1><i class="fa-solid fa-briefcase-medical "></i></h1>
              </div>
              <div class = 'col-9'>
                <h5>Safe and Effective</h5>
                <p>Face-to-face or Online you can get a consultation at any testing stage</p>
    
              </div>
            </div>

    </div>
</div>



<div class = 'all-doctors-bootstrap-cards-container d-flex p-5 gap-4 justify-content-center row'>
  <div class="card col-sm-12 col-md-4 col-lg-4 pt-2 bg-info">
    <img class = 'w-100 m-auto' src="https://i.postimg.cc/d3SzFmWZ/doctor.jpg" alt="image paccha na">
    <div class="card-body">
      <div class = 'd-flex row'>
        <big class = 'bg-primary text-center text-light'>Dr. Muntaha Akter Mobassira</big>
        <h5 class = 'text-dark text-center'>Neural Surgery</h5>
      </div>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
      <div class = 'd-flex justify-content-around'>
        <div>
          <h3><a href="#"><i class="fa-brands fa-x-twitter"></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-facebook "></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-linkedin"></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-youtube"></i></a></h3>
        </div>
      </div>
    </div>
  </div>



  <div class="card col-sm-12 col-md-4 col-lg-4 pt-2  bg-info">
    <img class = 'w-100 m-auto' src="https://i.postimg.cc/d3SzFmWZ/doctor.jpg" alt="image paccha na">
    <div class="card-body">
      <div class = 'd-flex row'>
        <big class = 'bg-primary text-center text-light'>Dr. Muntaha Akter Mobassira</big>
        <h5 class = 'text-dark text-center'>Neural Surgery</h5>
      </div>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
      <div class = 'd-flex justify-content-around'>
        <div>
          <h3><a href="#"><i class="fa-brands fa-x-twitter"></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-facebook "></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-linkedin"></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-youtube"></i></a></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-sm-12 col-md-4 col-lg-4 pt-2 bg-info">
    <img class = 'w-100 m-auto' src="https://i.postimg.cc/d3SzFmWZ/doctor.jpg" alt="image paccha na">
    <div class="card-body">
      <div class = 'd-flex row'>
        <big class = 'bg-primary text-center text-light'>Dr. Muntaha Akter Mobassira</big>
        <h5 class = 'text-dark text-center'>Neural Surgery</h5>
      </div>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
      <div class = 'd-flex justify-content-around'>
        <div>
          <h3><a href="#"><i class="fa-brands fa-x-twitter"></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-facebook "></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-linkedin"></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-youtube"></i></a></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-sm-12 col-md-4 col-lg-4 pt-2 bg-info">
    <img class = 'w-100 m-auto' src="https://i.postimg.cc/d3SzFmWZ/doctor.jpg" alt="image paccha na">
    <div class="card-body">
      <div class = 'd-flex row'>
        <big class = 'bg-primary text-center text-light'>Dr. Muntaha Akter Mobassira</big>
        <h5 class = 'text-dark text-center'>Neural Surgery</h5>
      </div>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
      <div class = 'd-flex justify-content-around'>
        <div>
          <h3><a href="#"><i class="fa-brands fa-x-twitter"></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-facebook "></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-linkedin"></i></a></h3>
        </div>
        <div>
          <h3><a href="#"><i class="fa-brands fa-youtube"></i></a></h3>
        </div>
      </div>
    </div>
  </div>

</div>

<div class = 'd-flex row contact-part align-items-center'>
  <form class = ' col-sm-12 col-md-5 col-lg-5 w-50 '>
    <h2 class = 'text-center ' style = 'color:DarkSeaGreen;'>On line consultation</h2>
    <div class="form-group row">
      
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
      
    </div>
    <br>
    <div class="form-group row">
      
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <br>
    <div class="form-group row">
      
      <label for="inputMessage" class="col-sm-2 col-form-label">Message</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputMessage" placeholder="Your Message">
      </div>
    </div>
    <br>
    <div class = 'd-flex justify-content-center m-auto'>
      <button class = 'btn btn-success text-light' type="submit">Send</button>

    </div>
  
  </form>
</div>

<div class = 'extra-part d-flex row p-5'>
  <div class  = 'col-sm-12 col-md-6 col-lg-6 col-xlg-6'>
    <h2 class = 'text-secondary'>Answers to more questions here</h2>
    <big>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore possimus distinctio deleniti modi, culpa amet alias aspernatur libero? Temporibus voluptatem vero accusantium, blanditiis earum reprehenderit maiores. Aut eligendi consequuntur delectus.</big>

    <br> <br> <br>
    <div>
      <h6>Lab Testing Capability</h6>
      <li>Etiam mauris massa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</li>
    </div>

    <br>
    <div>
      <h6>Personal Protective Equipment</h6>
      <li>Etiam mauris massa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</li>
    </div>
 
  </div>
  
  <div class  = 'col-sm-12 col-md-6 col-lg-6 col-xlg-6'>
      <img class = 'w-75' src="https://i.ibb.co/fdRSq17/corona-virus.jpg" alt="">
  </div>
</div>
{% endblock  %}


{% block title %}
  About Page
{% endblock title %}