{% extends "base.html" %}

{% block content %}

<style>
    .contact-part{
        
        background-image:url("https://i.ibb.co/jvfm5jW/pexels-anna-shvets-4225881.jpg");
        position:relative;
        background-position: center;
        background-size:cover;
        height:70vh;

        
    }
</style>

  <div class = 'd-flex bg-dark'>
    <div class = 'm-auto p-3'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57498.01853419587!2d89.22080978316848!3d25.74987366306113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e32de6fca6019b%3A0x9fa496e687f818c8!2sRangpur!5e0!3m2!1sen!2sbd!4v1710095086573!5m2!1sen!2sbd" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>

  <div class = 'd-flex row p-3'>
    <div class = 'col-sm-10 col-md-6 col-lg-5 pt-3 m-auto'>
        <img class = 'w-100' src="https://i.ibb.co/Y8S0gSb/pexels-pixabay-269077.jpg" alt="">
    </div>

    <div class = 'col-sm-10 col-md-6 col-lg-6'>
        <h3 class = 'text-success text-center'>Contact Us</h3>
        <big>Thank you for your interest in Public Health. <br> We're here to assist you with any inquiries or concerns you may have. Please feel free to reach out to us using the contact information provided below:</big>
        <div class = 'd-flex row gap-2 mt-2 justify-content-center'>
            <div class = 'card col-5 bg-white'>
                <big>Diagnostic Center:</big>
                <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
                <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
                <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
            </div>
            <div class = 'card col-5 bg-white'>
                <big>Diagnostic Center:</big>
                <h6><i class="fa-solid fa-location-pin"></i>  3396 Flint Street Atlanta, GA 30329</h6>
                <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
                <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
            </div>
            <div class = 'card col-5 bg-white'>
                <big>Diagnostic Center:</big>
                <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
                <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
                <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
            </div>
            <div class = 'card col-5 bg-white'>
                <big>Diagnostic Center:</big>
                <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
                <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
                <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
            </div>
          </div>
    </div>
  </div>

  <div class = 'd-flex row contact-part align-items-center'>
    <form class = ' col-sm-12 col-md-5 col-lg-5 w-50 '>
      <h2 class = 'text-center ' style = 'color:DarkSeaGreen;'>On line consultation</h2>
      <div class="form-group row">
        
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
        
      </div>
      <br>
      <div class="form-group row">
        
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <br>
      <div class="form-group row">
        
        <label for="inputMessage" class="col-sm-2 col-form-label">Message</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputMessage" placeholder="Your Message">
        </div>
      </div>
      <br>
      <div class = 'd-flex justify-content-center m-auto'>
        <button class = 'btn btn-success text-light' type="submit">Send</button>
  
      </div>
    
    </form>
  </div>
  
{% endblock content %}

{% block title %}
    Contact Page
{% endblock title %}