{% extends "base.html" %}

{% block content %}


<div class = 'd-flex row gap-1 p-3 justify-content-center algin-items-center bg-dark text-info'>
    <div class = 'col-sm-12 col-md-6 col-lg-6 m-auto'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d57320.903477845044!2d88.93896206953124!3d26.113393300000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z4Kao4Kaf4Ka-4Kas4Ka-4Kah4Ka84KeAIHByaW1hcnkgc2Nob29s!5e0!3m2!1sen!2sbd!4v1710076321500!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <div class = 'col-sm-12 col-md-4 col-lg-4 m-auto '>
        <h1>Contact Us</h1>
        <big>Thank you for your interest in Public Health. We're here to assist you with any inquiries or concerns you may have. Please feel free to reach out to us using the contact information provided below:</big>
      <div class = 'd-flex row gap-4 mt-2'>
        <div class = 'card col-5 bg-white'>
            <big>Diagnostic Center:</big>
            <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
            <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
            <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
        </div>
        <div class = 'card col-5 bg-white'>
            <big>Diagnostic Center:</big>
            <h6><i class="fa-solid fa-location-pin"></i>  3396 Flint Street Atlanta, GA 30329</h6>
            <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
            <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
        </div>
        <div class = 'card col-5 bg-white'>
            <big>Diagnostic Center:</big>
            <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
            <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
            <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
        </div>
        <div class = 'card col-5 bg-white'>
            <big>Diagnostic Center:</big>
            <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
            <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
            <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}