{% extends "base.html" %}

{% load static %}

{% block title %}
    Home Page
{% endblock title %}


{% block content %}


    <style>
  
      .header-section{
        
       
        width: 100%;
        height:100vh;
        position: relative;
        margin-top:-40px;
        
       
      }

      .header-section video {
        
        
        position: absolute;
        object-fit: cover;
        z-index: 0;
        
        
      }


      .header-section .text-part {
        z-index: 1;
        position: relative;
        text-align: center;

      }

      #hello-world{
        background-color:white;
      }

      #hello-world:hover {
        background-color: green;
      }

      .contact-part{
        
        background-image:url("https://i.ibb.co/jvfm5jW/pexels-anna-shvets-4225881.jpg");
        position:relative;
        background-position: center;
        background-size:cover;
        height:70vh;

        
    }

    
    
    {% comment %} @media (min-width: 576px) {
        #pichart-img{
          width:30%;
        }
    } {% endcomment %}

   
    {% comment %} @media (min-width: 768px) {
      #pichart-img{
        width:30%;
      }
    } {% endcomment %}
    @media (min-width: 576px) {
        #pichart-img {
          width: 70%;
      }
    }

    @media (min-width: 768px) {
        #pichart-img {
          width: 80%;
      }
    }
    @media (min-width: 992px) {
        #pichart-img {
          width: 100%;
      }
    }


    @media (min-width: 576px) {

        .pychart-div{
          margin-bottom:30px;
        }
        .each-pytext{
          padding-left:40px;
        }
    }


@media (min-width: 768px) { 
  .pychart-div{
    margin-bottom:30px;
  }
  .each-pytext{
    padding-left:40px;
  }
 }


@media (min-width: 992px) {
  .pychart-div{
    margin-top:-70px;
  }
}


@media (min-width: 1200px) {
  .pychart-div{
    margin-top:-70px;
  }
}


@media (min-width: 1400px) {
  .pychart-div{
    margin-top:-70px;
  }
}

.nested-menu{
  display:none;
}

ol li:hover .nested-menu{
  display:block;
  color:LightCyan;
}

.allInformatons{
  background: linear-gradient(to left, #2F4F4F, #2F4F4F, #696969, #696969);
}


   
    </style>


        <div class = 'd-flex row p-5   header-section'>

          <video style = 'width:100%; margin:auto;' autoplay muted loop>
            {% comment %} <source src = "https://videos.pexels.com/video-files/6067806/6067806-hd_1920_1080_30fps.mp4" type="video/mp4" /> {% endcomment %}
            <source  src = "https://videos.pexels.com/video-files/5752563/5752563-uhd_3840_2160_30fps.mp4" type="video/mp4" />
        </video>
                <div class = 'col-5'></div>
                <div data-aos="fade-down" class = 'text-part col-7 pt-5'>
                        <h2 style = 'color:blue;' class = ' text-center'>TAKE VACCINE LOVE YOURSELF</h2>
                        <h3  class = 'text-center'>Public Health Works For Public Health</h3>
                        <h4 style = 'color: DarkGoldenRod; text-align:center;' class = 'text-center'>Our Plartform interact between doctor and user </h4> <h4 style = 'color: DarkOrchid; text-align:center;' class = 'text-center' > through vaccination compaign.</h4>

    {% if not user.is_authenticated %}
                
                <div class = 'text-center'>

                  <!-- Start-->
                  
                  <button
                  type="button"
                  class="btn"
                  id = "hello-world"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModalCenter"
                  
                >
                  Sign Up
                </button>
    
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="exampleModalCenter"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header bg-success text-white text-center">
                        <h3
                          class="modal-title text-center"
                          id="exampleModalLongTitle"
                        >
                          Sign Up
                        </h3>
                        <button
                          type="button"
                          class="close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <a
                          class="btn btn-primary text-light"
                          href="{% url 'register_as_doctor' 1 %}"
                          >As Doctor</a
                        >
                        <a
                          class="btn btn-info text-white ms-3"
                          href="{% url 'register_as_patient'%}"
                          >Sign Up as Patient</a
                        >
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                  
                  <!-- End-->
                </div>
          {% else %}
          <a 
          
          class="btn btn-secondary"
          href = {% url "profile" %}
          
        >Profile</a>

      {% endif %}
                </div>

        </div>
        
<div class = 'd-flex allInformatons 
row p-3' style = ' margin-top:-120px;'>
  <div data-aos = 'zoom-in-left' class = 'col-sm-12 col-md-6 col-lg-6 col-xlg-6  p-4 d-flex' style = 'justify-content:center;'>
    <div>
      <h3 class = 'text-info'>Why Good Health?</h3>
      <ol type = '1' class = 'text-light'>
        <li>Reduced Risk of Disease
          <ul ><li class = 'nested-menu'>
            Good health lowers your risk of developing chronic diseases such as heart disease, diabetes, and certain types of cancer. By practicing healthy habits, you can protect your body and reduce the likelihood of experiencing serious health issues.
          </li></ul>
        </li>
        <li>Longevit
          <ul><li class = 'nested-menu'>
            Maintaining good health can increase your lifespan, giving you more time to experience all that life has to offer and to create lasting memories with loved ones.
          </li></ul>
        </li>
        <li>Physical Fitness
          <ul><li class = 'nested-menu'>
            Being in good health often means being physically fit, which can improve your strength, endurance, and overall performance in activities ranging from sports to everyday tasks.
          </li></ul>
        </li>
        <li>Mental Well-being
          <ul><li class = 'nested-menu'>
            Good health is closely linked to mental well-being. When you take care of your body, you're also supporting your mental health, which can lead to improved mood, reduced stress, and better cognitive function.
          </li></ul>
        </li>
        <li>Productivity and Success
          <ul><li class = 'nested-menu'>
            When you're healthy, you have more energy, focus, and motivation to pursue your goals and excel in your personal and professional life.
          </li></ul>
        </li>
  
      </ol>
    </div>
  </div>
  <div data-aos = 'zoom-in-right' class = 'col-sm-12 col-md-6 col-lg-6 col-xlg-6 d-flex' style = 'justify-content:center'>
   <div>
    <h3 class = 'd-flex row' style = 'color:Khaki;'>
      How To make good helath?
    </h3>

   
    <ol type = '1' class = 'text-light'>
      <li>Balance Diet
        <ul >
          <li class = 'nested-menu'>
            Consume a variety of foods from all food groups to ensure your body receives the essential nutrients it needs. Focus on fruits, vegetables, whole grains, lean proteins, and healthy fats. Limit intake of processed foods, sugar, and saturated fat.
          </li>
        </ul>
      </li>
      <li>Regular Physical Activity
        <ul >
          <li class = 'nested-menu'>Aim for at least 150 minutes of moderate aerobic exercise or 75 minutes of vigorous exercise each week, combined with muscle-strengthening activities on two or more days a week. Regular exercise improves cardiovascular health, strength, flexibility, and mood.</li>
        </ul>
      </li>
      <li>Sufficient Sleep
        <ul>
          <li class = 'nested-menu'>
            Ensure you get enough quality sleep each night. For most adults, this means 7-9 hours. Good sleep is essential for physical repair, cognitive function, and emotional well-being.
          </li>
        </ul>
      </li>
      <li>Stress Management
        <ul>
          <li class = 'nested-menu'> Practice stress-reducing techniques such as mindfulness, meditation, deep breathing exercises, or yoga. Managing stress is vital for maintaining mental health and preventing stress-related illnesses.</li>
        </ul>
      </li>
      <li>Vaccinationss
        <ul>
          <li class = 'nested-menu'> Stay up to date with recommended vaccines. Vaccines are one of the most effective ways to prevent infectious diseases. They work with your body’s natural defenses to build protection against diseases like influenza, measles, hepatitis, and COVID-19. Follow the vaccination schedule recommended by health authorities and consult with your healthcare provider about any vaccines specific to your age, occupation, or travel plans.</li>
        </ul>
      </li>
      
    </ol>

   </div>
  </div>

</div>


<!-- Carosel  Part -->
<section class = 'mx-lg-4 mx-xl-4 mx-md-2'>
  
<div class="swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein slider-item-first-visible">
  <ul class="slider-container  justify-content-center" style = 'padding-left:10%; paddint-right:10%; margin:auto;'>
      

      {% for vaccine in vaccines %}
      <li>
          <div class="card shadow h-100">
              <div class="ratio ratio-16x9">
                  <img src="{{vaccine.image.url}}" class="card-img-top" loading="lazy" alt="...">
              </div>
              <div class="card-body p-3 p-xl-5" style = 'background-color: HoneyDew;'>
                  <h1 class="card-title h5 text-center">{{vaccine.name}}</h1>
                  <h6 class = 'text-center'>Total Dose : {{vaccine.total_dose}}</h6>
                  <p class="card-text">{{vaccine.description|truncatewords:30}}</p>
                  <div class = 'd-flex'><a href="{% url "vacDetails" vaccine.id %}" class="btn btn-primary m-auto">Details</a></div>
              </div>
          </div>
      </li>

      {% endfor %}
   
  </ul>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

  <div class="slider-indicators">
      <button class="active" aria-label="Go to slide"></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class=""></button>
      <button aria-label="Go to slide" class=""></button>
  </div>
</div>


</section>

    <!-- Carosel Part End-->

<!-- Pi chart container start-->
    <div  class = 'd-flex row mt-2 p-5' style = 'background-color:Ivory;'>
        <div data-aos='fade-up' class = 'col-12'>
            <h1 class = 'text-center'>Immunization tips</h1>
            <hr class="m-auto" style="height: 3px; width: 40%; border-style: solid; border-width: 3px; border-color: cyan;">

            <br>
            <h5 class = 'text-center'><u>Essential Immunization Tips for a Healthy, Protected Life!</u></h5>
            <br>
  
        </div>
        <div data-aos="fade-down" class = 'col-sm-12 col-md-12 col-lg-3 d-flex row p-4'>

              <div class = 'd-flex gap-4 justify-content-center m-2' style = 'align-items:top;'>
                <img style = 'width:50px; height:50px;' class ='col-7' src="https://th.bing.com/th/id/R.9e81ee795718d2a4345a082c2fb3e1de?rik=2p7ZCeTQn%2fVQrg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_522954.png&ehk=9wwL6sLYD1x0YnNdFhX%2foP0Ie31EZnRFCpnmdI%2fQKYk%3d&risl=&pid=ImgRaw&r=0" alt="">
                  <h3>Safe and effective</h3>
              </div>
              <div class = 'pychart-div' ><strong class = 'each-pytext'>We Provide Safe and Effective vaccnes</strong></div>
              <div class = 'd-flex gap-4 justify-content-center m-2' style = 'align-items:bottom;'>
                <h1 style = 'width:50px bg-white; height:50px; border-radius:25px;'><i class="fa-solid fa-notes-medical"></i></h1>
                <h3 >Personal Portective</h3>
              </div>
              <div class = 'pychart-div'><strong class = 'each-pytext'>We mentain personal protection</strong></div>


        </div>
        <div data-aos="fade-up" class = 'col-sm-12 col-md-6 col-lg-6 col-xlg-6 m-auto justify-content-center d-flex'>
            <img id = 'pichart-img' src="https://i.ibb.co/dBz0z2N/pi-chart-img.png" alt="">
        </div>

        <!-- last half part start-->

        <div data-aos="fade-left" class = 'col-sm-12 col-md-12 col-lg-3 d-flex row p-4'>

          <div data-aos = 'fade-right' class = 'd-flex gap-4 justify-content-center m-2' style = 'align-items:top; justify-content:left;'>
            <h1><i class="fa-solid fa-syringe"></i></h1>
              <h3>Immunity Passports</h3>

          </div>
          <div class = 'pychart-div' ><strong class = 'each-pytext'>We will give you immunity pasport</strong></div>

          <div class = 'd-flex gap-4 justify-content-center m-2' style = 'align-items:bottom;'>
            <h1 style = 'width:50px bg-white; height:50px; border-radius:25px;'><i class="fa-solid fa-shield-virus"></i></h1>
            <h3>Antibody Testing</h3>
          </div>

          <div class = 'pychart-div'><strong class = 'each-pytext'>We have antibody testing feature</strong></div>


    </div>

        <!-- last half part end-->
        
    </div>

<!-- Pi chart container end-->
 

<!-- all doctors container-->

{% if allDoctors %}
    <h3 class = 'text-center text-info mt-2'>All Doctors</h3>
    <hr class="m-auto" style="height: 3px; width: 18%; border-style: solid; border-width: 3px; border-color: black;">
    
<div class = 'all-doctors-bootstrap-cards-container wrap d-flex gap-3 p-2 justify-content-center row'>

    {% for doctor in allDoctors %}
    
    <div data-aos = 'fade-up-right'  id="card-{{doctor.id}}" onmouseover="changeCardSize(this)" onmouseout="resetCardSize(this)" class="card pt-2 bg-white" style = 'width:350px;'>
        <img class = 'w-100 m-auto' src="{{doctor.profile_pic.url}}" alt="image paccha na">
        <div class="card-body">
          <div class = 'd-flex row'>
            <big class = 'bg-primary text-center text-light'>{{doctor.user.first_name}} {{doctor.user.last_name}}</big>
            <h5 class = 'text-dark text-center'>Neural Surgery</h5>
          </div>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus accusantium optio facilis ad architecto dolore laudantium quam magni aperiam sit reprehenderit cum, harum facere vero doloribus provident voluptatibus.</p>
          <div class = 'd-flex justify-content-around'>
            <div>
              <h3><a href="#"><i class="fa-brands fa-x-twitter"></i></a></h3>
            </div>
            <div>
              <h3><a href="#"><i class="fa-brands fa-facebook "></i></a></h3>
            </div>
            <div>
              <h3><a href="#"><i class="fa-brands fa-linkedin"></i></a></h3>
            </div>
            <div>
              <h3><a href="#"><i class="fa-brands fa-youtube"></i></a></h3>
            </div>
          </div>
        </div>
      </div>
    
    {% endfor %}
  
  </div>
  
{% endif %}

        

        <!-- All vaccine container -->

        
    <div class = 'doctor-added-vaccine-part d-flex row wrap gap-3 p-5 justify-content-center' style = 'background-color: darkgrey;'>

        <h3 style = 'color: orange;' class = ' col-12 text-center'>All vaccines         <hr class="m-auto" style="height: 3px; width: 18%; border-style: solid; border-width: 3px; border-color: orange;">
        </h3>

        
        
        {% comment %} <div class = 'd-flex  justify-content-center' style = 'background-color:DarkGray;'>
  
        </div> {% endcomment %}

    
    {% for vaccine in vaccines %}

    <div data-aos = 'fade-up' id="card-{{vaccine.id}}" onmouseover="changeCardSize(this)" onmouseout="resetCardSize(this)" class="card justify-content-center d-flex row p-3 m-3 justify-content-center" style = 'background-color: Wheat; width: 330px;'>
        <img class="card-img-top col-12 m-auto" style = 'width: 250px; height: 250px; border-radius: 125px;' src="{{vaccine.image.url}}" alt="Card image cap">
        <div class="card-body col-12 row d-flex">
          <h4 class="card-title text-center col-12">{{vaccine.name}}</h4>
          <h5 class = 'text-center col-12'>Dotal Dose: {{vaccine.total_dose}}</h5>
          <big class = 'block text-center col-12'>Price: {{vaccine.price}}</big>
          <p class = 'block text-center col-12'>{{vaccine.description |truncatewords:30}}</p>

          <a class = 'btn btn-success text-light m-auto' href="{% url "vacDetails" vaccine.id %}">Details</a>

        </div>
      </div>
    {% endfor %}
      
         
        
    
          
      
         
    
 

</div>



<!-- Answer to more questions here start -->

<div class = 'extra-part d-flex row p-5 bg-dark'>

  <div data-aos = 'flip-left' class  = 'col-sm-12 col-md-6 col-lg-6 col-xlg-6 d-flex justify-content-center align-items-center'>
    <div>
      <img class = 'w-75 m-auto' src="https://i.ibb.co/fdRSq17/corona-virus.jpg" alt="">

    </div>
  </div>

  <div class='col-sm-12 col-md-6 col-lg-6 col-xlg-6' data-aos="flip-right">
    <h2 class='text-center pt-5' style='color:Bisque;'>Answers to more questions here</h2>
    <big class = 'text-light py-2'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore possimus distinctio deleniti modi, culpa amet alias aspernatur libero? Temporibus voluptatem vero accusantium, blanditiis earum reprehenderit maiores. Aut eligendi consequuntur delectus.</big>

    <!-- Accordion starts from here-->
    <div class="accordion py-2" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Lab Testing Capability
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <big>Etiam mauris massa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</big>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Personal Protective Equipment
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <big>Etiam mauris lmassa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</big>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Emergency Medical Teams
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <big>Etiam mauris lmassa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</big>
                </div>
            </div>
        </div>
    </div>
    <!-- Accordion ends here-->
</div>


</div>

<!-- Answer to more questions here end -->




<!-- Client Reviews Part-->
 
<div class = 'patient-taken-vaccine-part d-flex row wrap gap-3 p-5 justify-content-center' style = 'background-color: Snow;'>

    <h3 style = 'color: orange;' class = ' col-12 text-center'>Client Reviews         <hr class="m-auto" style="height: 3px; width: 18%; border-style: solid; border-width: 3px; border-color: orange;">
    </h3>

    {% for review in reviews %}
    
    <div data-aos = 'zoom-in' id="card-{{review.id}}" onmouseover="changeCardSize(this)" onmouseout="resetCardSize(this)" class="card justify-content-center d-flex row p-3 m-3 justify-content-center" style = 'background-color: SlateGrey; width: 330px;'>
        <img class="card-img-top col-12 m-auto" style = 'width: 250px; height: 250px; border-radius: 125px;' src="{{review.reviewer.account.profile_pic.url}}" alt="Card image cap">
        <div class="card-body col-12 row d-flex">
          <h4 class="card-title text-center col-12">{{review.reviewer.account.user.first_name}} {{review.reviewer.account.user.last_name}}</h4>
          <h4 class = 'text-center'>Vaccine : <big class = 'text-white'>{{review.vaccine.name}}</big></h4>
          <h5 class = 'text-center col-12'>{{review.star}}</h5>
      
          <i class = 'block text-center col-12'>{{review.review}}</i>


        </div>
      </div>

    {% endfor %}

</div>



<!-- Contact Us part start here -->

<div data-aos="zoom-in" class = 'd-flex row contact-part align-items-center'>
  <form class = ' col-sm-12 col-md-5 col-lg-5 w-50 '>
    <h2 class = 'text-center ' style = 'color:DarkSeaGreen;'>Online Consultation</h2>
    <div class="form-group row">
      
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" id="inputName" placeholder="Name">
      </div>
      
    </div>
    <br>
    <div class="form-group row">
      
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <br>

    <div class="form-group row">
      
      <label for="inputMessage" class="col-sm-2 col-form-label">Message</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" style ='height:100px;' id="inputMessage" placeholder="Message">
      </div>
    </div>
    <br>

    <div class = 'd-flex justify-content-center m-auto'>
      <button class = 'btn btn-success text-light' type="submit">Send</button>

    </div>
  
  </form>
</div>


<!-- Contact Us part end here -->



{% endblock content %}




 {% block js %}
        <script src = {% static 'js/home.js' %}></script>
        <script src = {% static 'js/change_size.js' %}></script>
{% endblock js %} 