
{% extends "base.html" %}

{% load static %}
{% block content %}



<style>
    .service-section{
        background-image:url("https://i.ibb.co/pJTrVrg/pexels-samer-d-2080544.jpg");
        position:relative;
        background-position: center;
        
        background-size:cover;
        height:400px;
        
        
    }

    .main-section{
        background-image:url("https://i.ibb.co/GWnsN1g/vaccination-mangement.jpg");
        
        position:relative;
        background-position: center;
        
        background-size:cover;
        
        
    }
    .background-image-section{
        
        background-image:url("https://i.ibb.co/pfF3zGr/pexels-cottonbro-studio-7578808.jpg");
        position:relative;
        background-position: center;
        
        height:600px;
        
        
    }
    .contact-part{
        
        background-image:url("https://i.ibb.co/jvfm5jW/pexels-anna-shvets-4225881.jpg");
        position:relative;
        background-position: center;
        background-size:cover;
        height:70vh;

        
    }


    .form-container {
      max-width: 500px;
      margin: auto;

    
</style>



<div class = 'service-section pt-5'>
    <h1 class = ' text-center pt-5 pt-5' ><b style = 'color:DarkCyan;  font-weight: bold;'>Services</b></h1>
</div>

<h2 class = 'text-center pt-2 text-success'>World Leader in Health Care Services</h2>
<hr class="m-auto" style="height: 3px; width: 50%; border-style: solid; border-width: 3px; border-color: black;">

<div class = 'd-flex wrap row p-5' style = 'justify-content:center;'>
    <div class = 'col-md-4 col-sm-12 col-lg-4 col-xlg-4 text-center'><h5> <h3 class = 'text-success'>357</h3>Patients Per Day</h5></div>
    <div class = 'col-md-4 col-sm-12 col-lg-4 col-xlg-4 text-center'><h5><h3 class = 'text-success'>82</h3> Medical Specialities</h5></div>
    <div class = 'col-md-4 col-sm-12 col-lg-4 col-xlg-4 text-center'><h5> <h3 class = 'text-success'>100</h3>Satisfied Claients</h6></div>
</div>



<!-- Boostrap cards container starts form here-->
<div class = 'bootstrap-cards-container d-flex wrap row p-2 gap-3 justify-content-center '>
    <div class="card col-sm-12 col-md-5 col-lg-4">
        
        <div class="card-body">
          <img src="https://dynaimage.cdn.cnn.com/cnn/digital-images/org/2266330b-cb73-4c38-9621-ea2e7d59c930.jpg" class = 'w-100 h-50' alt="">
          <h3 class = 'text-center bg-info'>Vaccination</h3>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-success text-center'>Covid-19 corona virus</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-center text-success'> Dental Surgery</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
                <big class = 'fs-4 text-center text-success'>Heart Surgery</big>
          </li>
        </div>
      </div>

    <div class="card col-sm-12 col-md-5 col-lg-4" >
        
        <div class="card-body" style = 'height:500px;'>
          <img src="https://i.ibb.co/vYzTFWn/pexels-anna-shvets-4769130.jpg" class = 'w-100 h-50' alt="">
          <h3 class = 'text-center bg-info'>Surgery</h3>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-success text-center'> Neural Surgery</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-center text-success'> Dental Surgery</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
                <big class = 'fs-4 text-center text-success'>Heart Surgery</big>
          </li>
        </div>
      </div>

    <div class="card col-sm-12 col-md-5 col-lg-4">
        
        <div class="card-body">
          <img src="https://i.ibb.co/pbKmZtq/istockphoto-1255591779-1024x1024.jpg" class = 'w-100 ' alt="">
          <h3 class = 'text-center bg-danger'>Emergency</h3>

          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-success text-center'> Neural Surgery</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-center text-success'> Dental Surgery</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
                <big class = 'fs-4 text-center text-success'>Heart Surgery</big>
          </li>

        </div>
      </div>
  
   
    <div class="card col-sm-12 col-md-5 col-lg-4">
        
        <div class="card-body">
          <img src="https://i.ibb.co/StpkNC2/istockphoto-531118289-1024x1024.jpg" class = 'w-100 ' alt="">
          <h3 class = 'text-center bg-success'>Cardiology</h3>

          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-success text-center'>Heart Check-Up</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-center text-success'> Open Heart-Surgery</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
                <big class = 'fs-4 text-center text-success'>Heartbeat Health Solutions</big>
          </li>

        </div>
      </div>
  
    <div class="card col-sm-12 col-md-5 col-lg-4">
        
        <div class="card-body">
          <img src="https://i.ibb.co/8Nzdzjr/istockphoto-1369620254-1024x1024.jpg" class = 'w-100 ' alt="">
          <h3 class = 'text-center bg-success'>Family Physician</h3>

          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-success text-center'>Regular Health Check-Up</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-center text-success'>Monitoring Health issues</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
                <big class = 'fs-4 text-center text-success'>Helath Consultatin</big>
          </li>
        </div>
      </div>
  
      <div class="card col-sm-12 col-md-5 col-lg-4" >
        
        <div class="card-body" style = 'height:500px;'>
          <img src="https://i.ibb.co/vYzTFWn/pexels-anna-shvets-4769130.jpg" class = 'w-100 h-50' alt="">
          <h3 class = 'text-center bg-info'>Surgery</h3>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-success text-center'> Neural Surgery</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
              <big class = 'fs-4 text-center text-success'> Dental Surgery</big>
          </li>
          <li class = 'list-unstyled'>
            <i class="fa-solid fa-check"></i>
                <big class = 'fs-4 text-center text-success'>Heart Surgery</big>
          </li>
        </div>
      </div>

   
</div>


<div class  = 'd-flex gap-4 row wrap main-part-of-about bg-info'>
    <div class = 'col-sm-11 col-md-5 col-lg-5 col-xlg-5 background-image-section d-flex row align-content-center justify-content-center'>
        <div class = 'col-6'></div>
        <div class="card col-6 bg-dark" style = 'height:400px;'>
        
            <div class="card-body">
              <h1 class="card-title text-success">Our Services</h1>
              <li class = 'text-light list-unstyled'>Vaccination</li>
              <li class = 'text-light list-unstyled'>Surgery</li>
              <li class = 'text-light list-unstyled'>Neral Surgery</li>
              <li class = 'text-light list-unstyled'>Cardiology</li>
              <li class = 'text-light list-unstyled'>Family Doctor</li>
            </div>
          </div>
    </div>
    <div class = 'col-sm-11 col-md-5 col-lg-5 col-xlg-5 p-5'>
            <h1 class = 'text-center'>What we Do</h1>
            <br> <br>
            <big>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis laborum impedit repudiandae, expedita fugiat natus qui ad sapiente. Necessitatibus, fugiat harum? Corporis at a facilis, reiciendis explicabo saepe suscipit.</big>
      <br><br>
            <div class = 'd-flex row'>
              <div class = 'col-3 font-awesome-icon'>
                <h1 style = 'width:60px; height:60px; border-radius: 50%'><i class="fa-solid fa-user-doctor"></i></h1>
              </div>
              <div class = 'col-9'>
                <h5>Get a doctor's consultation if You have any question</h5>
                <p>Face-to-face or Online you can get a consultation at any testing stage</p>
    
              </div>
            </div>

            <div class = 'd-flex row'>
              <div class = 'col-3 font-awesome-icon'>
                <h1><i class="fa-solid fa-briefcase-medical "></i></h1>
              </div>
              <div class = 'col-9'>
                <h5>Safe and Effective</h5>
                <p>Face-to-face or Online you can get a consultation at any testing stage</p>
    
              </div>
            </div>

    </div>
</div>


<div class = 'extra-part d-flex row p-5'>
  <div class  = 'col-sm-12 col-md-6 col-lg-6 col-xlg-6'>
    <h2 class = 'text-secondary'>Answers to more questions here</h2>
    <big>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore possimus distinctio deleniti modi, culpa amet alias aspernatur libero? Temporibus voluptatem vero accusantium, blanditiis earum reprehenderit maiores. Aut eligendi consequuntur delectus.</big>

    <br> <br> <br>
    <div>
      <h6>Lab Testing Capability</h6>
      <li>Etiam mauris massa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</li>
    </div>

    <br>
    <div>
      <h6>Personal Protective Equipment</h6>
      <li>Etiam mauris massa, efficitur eget leo eu, pretium accumsan arcu. Aliquam sagittis vulputate gravida. Quisque fringilla ac est dapibus dignissim. Proin vitae ante a ipsum blandit maximus at eu nisl</li>
    </div>
 
  </div>
  
  <div class  = 'col-sm-12 col-md-6 col-lg-6 col-xlg-6'>
      <img class = 'w-75' src="https://i.ibb.co/fdRSq17/corona-virus.jpg" alt="">
  </div>
</div>


<div class = 'd-flex row contact-part align-items-center'>
  <form class = ' col-sm-12 col-md-5 col-lg-5 w-50 '>
    <h2 class = 'text-center ' style = 'color:DarkSeaGreen;'>On line consultation</h2>
    <div class="form-group row">
      
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" id="inputName" placeholder="Name">
      </div>
      
    </div>
    <br>
    <div class="form-group row">
      
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <br>

    <div class="form-group row">
      
      <label for="inputMessage" class="col-sm-2 col-form-label">Message</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" style ='height:100px;' id="inputMessage" placeholder="Message">
      </div>
    </div>
    <br>

    <div class = 'd-flex justify-content-center m-auto'>
      <button class = 'btn btn-success text-light' type="submit">Send</button>

    </div>
  
  </form>
</div>


  <div class = 'd-flex row gap-1 p-3 justify-content-center algin-items-center bg-dark text-info'>
    <div class = 'col-sm-12 col-md-6 col-lg-6 m-auto'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d57320.903477845044!2d88.93896206953124!3d26.113393300000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z4Kao4Kaf4Ka-4Kas4Ka-4Kah4Ka84KeAIHByaW1hcnkgc2Nob29s!5e0!3m2!1sen!2sbd!4v1710076321500!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <div class = 'col-sm-12 col-md-4 col-lg-4 m-auto '>
        <h1>Find the nearest labroratory</h1>
        <big>Thank you for your interest in Public Health. <br> We're here to assist you with any inquiries or concerns you may have. Please feel free to reach out to us using the contact information provided below:</big>


      <div class = 'd-flex row gap-4 mt-2'>
        <div class = 'card col-5 bg-white'>
            <big>Diagnostic Center:</big>
            <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
            <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
            <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
        </div>
        <div class = 'card col-5 bg-white'>
            <big>Diagnostic Center:</big>
            <h6><i class="fa-solid fa-location-pin"></i>  3396 Flint Street Atlanta, GA 30329</h6>
            <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
            <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
        </div>
        <div class = 'card col-5 bg-white'>
            <big>Diagnostic Center:</big>
            <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
            <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
            <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
        </div>
        <div class = 'card col-5 bg-white'>
            <big>Diagnostic Center:</big>
            <h6><i class="fa-solid fa-location-pin"></i> 3396 Flint Street Atlanta, GA 30329</h6>
            <h6><i class="fa-solid fa-clock"></i>  9 a.m. to 5 p.m</h6>
            <h5><i class="fa-solid fa-phone"></i> +1 678-235-5649</h5>
        </div>
      </div>
    </div>
  </div>

{% endblock  %}

{% block title %}
    Service Page
{% endblock title %}