<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
      <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />  
     {% comment %} <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">  {% endcomment %}
     <link rel="icon" href="https://ibb.co/XzspgN9">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">


    </head>   {% block css %}
   {% endblock css %}
   {% comment %} <link rel="stylesheet" href="{% static 'base.css' %}"> {% endcomment %}

    <style> {% comment "eta base.css er kaj korba" %}{% endcomment %}

      body{
        background-color: beige;
    
    }
    
    *{
        margin:0;
        padding:0;
    }
    
    
    @keyframes example {
        0%   { left: 3%; color: rgb(20, 46, 46);}
        10%  { left: 10%; color: burlywood; }
        20%  { left: 17%; color: red; }
        30%  { left: 24%; color: beige;}
        40% { left: 31%; color: chocolate;}
        50% { left: 38%; color: cornflowerblue;}
        60% { left: 45%; color: darkgrey;}
        70% { left: 52%; color: darkslategray;}
        80% { left: 57%; color: lightgoldenrodyellow;}
        90% { left: 63%; color: lightblue;}
        95% { left: 67%; color: goldenrod;}
    }
    .animation {
        position: relative; 
        animation-name: example;
        animation-duration: 10s; 
        animation-iteration-count: infinite; /* Make it repeat infinitely */
    }
    
    
    
    
    </style>
  </head>
  <body>

    <style>
            .btn:hover {
                background-color:purple;
          
            }

            body{
                background-color: antiquewhite;
            }

            
          #footer{
            height:600px;
            width:100%;
            justify-content: center;
            margin: auto;
            align-items: center;
          }

          .li{ /*eta li tag er jonno jeta footer a aca */
            list-style-type: none;
            color: blanchedalmond;
          }

       
          </style>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-part p-3">
      <div class="container-fluid">
        
        {% comment %} <a href=""><img src="{% static 'icon.jpg' %}" style = 'width: 130px; height: 50px;' alt=""> {% endcomment %}

          <a href="https://public-health.onrender.com"><img style = 'width: 130px; height: 50px;' src="https://i.ibb.co/4jTMG9c/Gemini-Generated-Image.jpg" alt="Gemini-Generated-Image" border="0" /></a>

        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
              <li class= 'nav-item mx-3'>
                {% if user.account.profile_pic %}
                      
                            <a href="{{user.account.profile_pic.url}}"><img  style = 'width: 80px; height: 100px; border-radius:40px' src="{{user.account.profile_pic.url}}" alt="Profile pic of owner"></a>
             
                  {% endif %}
              </li>
            {% endif %}
            <li class="nav-item m-auto">
              <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
              
            </li>

            {% if user.is_authenticated %}
            {% if user.account.is_doctor %}
            <li class="nav-item m-auto">
              <a class="nav-link active" aria-current="page" href="{% url 'addSchedule' %}">Add Schedule</a>
              
            </li>

            <li class="nav-item m-auto">
              <a class="nav-link active" aria-current="page" href="{% url 'addVaccine' %}">Add Vaccine</a>
              
            </li>
        {% endif %}

            {% endif %}

            <li class = 'nav-item m-auto'>
              <a class = 'nav-link active' area-current = 'page' href="{% url "about" %}">About</a>
            </li>

            <li class = 'nav-item m-auto'>
              <a class = 'nav-link active' area-current = 'page' href="{% url "services" %}">Service</a>
            </li>

            {% block menubar %} {% endblock menubar %}
            <li class = 'nav-item m-auto'>
              <a class = 'nav-link active' area-current = 'page' href="#">Contact</a>
            </li>
          </ul>
          <form class="d-flex">
            
            {% if not user.is_authenticated %}
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-success text-light"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalCenter"
            >
              Sign Up
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModalCenter"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-success text-white text-center">
                    <h3
                      class="modal-title text-center"
                      id="exampleModalLongTitle"
                    >
                      Sign Up
                    </h3>
                    <button
                      type="button"
                      class="close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <a
                      class="btn btn-primary text-light"
                      href="{% url 'register_as_doctor' 1 %}"
                      >As Doctor</a
                    >
                    <a
                      class="btn btn-info text-white ms-3"
                      href="{% url 'register_as_patient'%}"
                      >Sign Up as Patient</a
                    >
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <a class="btn btn-info mx-3 text-white" href="{% url 'login'%}"
              >Log In</a
            >
            {% endif %}

            {% if user.is_authenticated %}  {% comment "ekbar ei if use korla  keno jeno error asa. tai 2 bar use kora" %}{% endcomment %}
                <a class="btn btn-info mx-3 text-white" href="{% url "profile" %}">Profile</a> 
                <a class = 'btn btn-danger text-white' href="{% url "logout" %}">Log Out</a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>


    

  

    <style>
        .success{
          color:green;
          text-algn:center;
        }
        .warning{
          background-color:gray;
          color:red;
          text-align:center;
        }
    </style>
   




{% comment %} <div class = 'animation'>

  <h1>Public Health</h1>
</div> {% endcomment %}

{% if messages %}

{% for message in messages %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    {% if 'warning' in message.tags %}
      Swal.fire({
        icon: 'warning',
        title: 'Warning!',
        text: '{{ message }}',
        confirmButtonText: 'OK'
      });
    {% elif 'info' in message.tags %}
      Swal.fire({
        icon: 'info',
        title: 'Info!',
        text: '{{ message }}',
        confirmButtonText: 'OK'
      });
    {% elif 'error' in message.tags %}
      Swal.fire({
        icon: 'error',
        title: 'Error!',
        text: '{{ message }}',
        confirmButtonText: 'OK'
      });
    {% else %}
      Swal.fire({
        icon: 'success',
        title: 'Success!',
        text: '{{ message }}',
        confirmButtonText: 'OK'
      });
    {% endif %}
  });
</script>
{% endfor %}


{% endif %}


 

   {% block content %} {% endblock content %}


    <footer class = 'd-flex row p-3 mt-4' id = 'footer' style = 'background-color:gray;'>
      <div class = 'col-sm-12 col-md-6 col-lg-6'>
          <i>Copyright © 2024 Public Health. All Rights Reserved</i>
          <br><br>
          <h3 class = 'text-center'>Folow Us</h3>

           <div class = 'd-flex gap-4 justify-content-center'>
              <div><a href="#"><img src="https://i.ibb.co/4KLc3f5/YouTube.png" alt="Youtube" border="0" /></a></div>
              <div><a href="#"><img src="https://i.ibb.co/nM86zMh/LinkedIn.png" alt="LinkedIn" border="0" /></a></div>
              <div><a class = 'm-auto' target = "_blank" href="https://www.facebook.com/mdmorsalin.islam.77715"><h3 class = 'd-inline'><i class="fa-brands fa-square-facebook"></i></h3></a></div>
          
          </div> 
      </div>
      <div class = 'col-sm-6 col-md-3 col-lg-3 justify-content-center align-items-center'>

        <button class = 'btn text-light' id = 'loadTopPage' onclick = 'loadTopPage()'>Go Top ↑</button>
          <div>
              <h5><b>Company</b></h5>
              <b><li class = 'li'>About</li></b>
              <b><li class = 'li'>Contuct Us</li></b>
              <b><li class = 'li'>Culture</li></b>
              <b><li class = 'li'>Blog</li></b>
          </div>
      </div>

      <div class = 'col-sm-6 col-md-3 col-lg-3 justify-content-center align-items-center'>
          <div>
              <h5><b>Terms And Conditon</b></h5>
              <b><li > Our Terms and Conditions outline the rules and guidelines for the use of our web application</li></b>
              <br>
              <b><li>By accessing or using our application, you agree to abide by these terms. </li></b>
              <br>
              <b><li>They cover various aspects such as user responsibilities, intellectual property rights, limitations of liability, and dispute resolution</li></b>
             
          </div>
      </div>

      <hr>
      <i class = 'text-center'>Copyright © 2024 Public Health. All Rights Reserved</i>

  </footer>
  
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"><script>

   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

   <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script> 

{% comment %} <script src = {% static 'bootstrap.min.js' %}></script>  {% endcomment %}

{% comment %} 
<script src = '{% static "base.js" %}'></script> {% endcomment %}

<script>
  const loadTopPage  = () =>{
    window.scrollTo({
        top: 0,
        behavior: "smooth",
    });
}
</script>

{% block js %}{% endblock js %}

  </body>
</html>
